{% if clients %}
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody id="client-table-body">
      {% for client in clients %}
        <tr>
          <td>{{client.first_name}}</td>
          <td>{{client.last_name}}</td>
          <td>{{client.address}}</td>
          <td>
            <button 
              hx-get="{{ client.get_absolute_url }}"
              hx-target="#inner_client_modal"
              hx-trigger="click"
              hx-on:click="client_modal.showModal()"
              class="btn btn-success" >
              Edit
            </button>
          </td>
          <td><a href="{% url 'invoice:pdfAuthors' client.id %}">pdf</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="checkbox" id="my_modal_toggle" class="modal-toggle" />
  <dialog id="client_modal" class="modal">
    <div class="modal-box" id="inner_client_modal">
    </div>
  </dialog>

{% else %}
  <p>There are no clients in the system.</p>
{% endif %}
