<dialog  class="modal" id="my_modal_id">
    <div class="modal-box" id="client-inner-modal">
        <h3 class="font-bold text-lg mb-4">My Form Title</h3>
        <form method="post" 
            hx-target="#client-inner-modal"
            hx-swap="afterbegin"
            hx-on:success="my_modal_id.close(); this.reset();"
            class="mb-4">
            {% csrf_token %}
            <table>
                {{ form.first_name }}
            </table>
            <div class="modal-action">
                <button type="button" class="btn" onclick="my_modal_id.close()">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</dialog>