<dialog  class="modal" id="edit_client_modal">
    <div class="modal-box" id="inner-modal">
        <h3 class="font-bold text-lg mb-4">Edit Client</h3>
        <form method="post" 
            hx-target="#inner-modal" 
            hx-swap="afterbegin"
            hx-on:success="edit_client_modal.close(); this.reset();"
            class="mb-4">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div class="modal-action">
                <button type="button" class="btn" onclick="edit_client_modal.close()">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</dialog>