<div id="invoice-list">
  {% if invoices %}
    <table class="table table table-zebra table-pin-rows">
      <thead>
        <tr>
          <th>Invoice #</th>
          <th>Client/Premium</th>
          <th>Invoice Date(m/d/y)</th>
        </tr>
      </thead>
      <tbody id="invoice-table-body">
        {% for invoice in invoices %}
          <tr>
            <td>{{invoice.invoice_id}}</td>
            <td>{{invoice.client_premium}}</td>
            <td>{{invoice.date|date:"m-d-Y"}}</td>
            <!---<td>
              <a class="btn btn-success" 
                href="{% url 'invoice:pdfSingleInvoice' invoice.invoice_id %}">
                  pdf
              </a>
            </td>
            -->
            <td>
              <button hx-get="{% url 'invoice:load_Payments' invoice.invoice_id %}"
                      hx-target="#inner_payments_modal"
                      hx-trigger="click"
                      hx-on:click="payments_modal.showModal()"
                      class="btn btn-success btn-sm" >
                        View Payments
              </button>
            </td>
            <td>
                <button
                    hx-get="{% url 'invoice:make_payment' invoice.invoice_id %}"
                    hx-trigger="click"
                    hx-target="#inner_payments_modal"
                    hx-on:click="payments_modal.showModal()"
                    class="btn btn-primary btn-sm" >
                    Make Payment
                </button>
            </td>
            <!--
            <td>
              <button 
                  hx-get="{{ invoice.get_absolute_url }}"
                  hx-target="#inner_invoice_modal"
                  hx-trigger="click"
                  hx-vals='{"pk": {{ invoice.pk }} }'
                  hx-on:click="invoice_modal.showModal()"
                  class="btn btn-success" >
                  Pay Invoice
              </button>
            </td>
            -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!--
    <dialog id="invoice_modal" class="modal">
      <div class="modal-box max-w-sm" id="inner_invoice_modal"></div>
    </dialog>
    -->
    <input type="checkbox" id="my_modal_toggle" class="modal-toggle" />
    <dialog id="payments_modal" class="modal">
      <div class="modal-box" id="inner_payments_modal">
      </div>
    </dialog>
  {% else %}
    {% if emptyMessage %}
      <p>{{ emptyMessage }}</p>
    {% else %}
      <p>Please use search bar and filters to show Invoices.</p>
    {% endif %}
  {% endif %}
</div>

<script>
    document.body.addEventListener('closeModal', function(event) {
        var myModal = document.getElementById('payments_modal');
        if (myModal) {
            // remove the modal from the DOM entirely if using outerHTML swap
            myModal.remove();
        }
    });
</script>
