<div id="invoice-list">
  {% if invoices %}
    <table class="table table table-zebra table-pin-rows">
      <thead>
        <tr>
          <th>Invoice #</th>
          <th>Client/Premium</th>
          <th>Invoice Date(m/d/y)</th>
        </tr>
      </thead>
      <tbody id="invoice-table-body">
        {% for invoice in invoices %}
          <tr>
            <td>{{invoice.invoice_id}}</td>
            <td>{{invoice.client_premium}}</td>
            <td>{{invoice.date|date:"m-d-Y"}}</td>
            <td>
              <a class="btn btn-success" 
                href="{% url 'invoice:pdfSingleInvoice' invoice.invoice_id %}">
                  pdf
              </a>
            </td>
            <td>
              <button 
                hx-get="{{ invoice.get_absolute_url }}"
                hx-target="#inner_invoice_modal"
                hx-trigger="click"
                hx-vals='{"pk": {{ invoice.pk }} }'
                hx-on:click="invoice_modal.showModal()"
                class="btn btn-success" >
                Pay Invoice
            </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <dialog id="invoice_modal" class="modal">
      <div class="modal-box max-w-sm" id="inner_invoice_modal"></div>
    </dialog>
  {% else %}
    <p>There are no invoices in the system.</p>
  {% endif %}
</div>