<div id="invoice-list">
  {% if invoices %}
    <table class="table table table-zebra table-pin-rows">
      <thead>
        <tr>
          <th>Invoice #</th>
          <th>Client/Premium</th>
          <th>Invoice Date</th>
        </tr>
      </thead>
      <tbody id="invoice-table-body">
        {% for invoice in invoices %}
          <tr>
            <td>{{invoice.invoice_id}}</td>
            <td>{{invoice.client_premium}}</td>
            <td>{{invoice.date}}</td>
            <td>
              <a class="btn btn-success" 
                href="{% url 'invoice:pdfInvoice' invoice.invoice_id %}">pdf</a></td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <dialog id="invoice_modal" class="modal">
      <div class="modal-box" id="inner_invoice_modal">
      </div>
    </dialog>
  
  {% else %}
    <p>There are no invoices in the system.</p>
  {% endif %}
</div>