{% if premiumtypes %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody id="premiumtypes-table-body">
      {% for premiumtype in premiumtypes %}
        <tr>
          <td>{{premiumtype.name}}</td>
          <td>
            <button 
              hx-get="{{ premiumtype.get_absolute_url }}"
              hx-target="#inner_premiumtype_modal"
              hx-trigger="click"
              hx-on:click="premiumtype_modal.showModal()"
              class="btn btn-success" >
              Edit
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="checkbox" id="my_modal_toggle" class="modal-toggle" />
  <dialog id="premiumtype_modal" class="modal">
    <div class="modal-box" id="inner_premiumtype_modal">
    </div>
  </dialog>

{% else %}
  <p>There are no premium types in the system.</p>
{% endif %}