<!-- partials/client_year_ddl_filter.html -->
<div id="year-ddl">
    <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-90 border p-4 ">
        <legend class="fieldset-legend">Clients</legend>
        {% if ddlclients %}
            <select class="select select-bordered w-full max-w-xs"
                    hx-get="{% url 'invoice:get_Client_Table_Data' %}" 
                    hx-target="#client-list" 
                    hx-trigger="change" 
                    name="year">
                <option value="0">--------------</option>
                {% for client in ddlclients %}
                    <option value="{{client.id}}">{{ client.first_name }} {{client.last_name }}</option>
                {% endfor %}
            </select>
        {% else %}
            <p>There are no clients in the system.</p>
        {% endif %}
    </fieldset>
</div>