<!-- partials/table_modal_content.html -->

<h>{{ invoice.invoice_id}}</h>
<div class="modal-body overflow-y-auto ">
    <div class="p-4 text-white " >
        <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 table-sm h-80">
            <p>Paid?</p>
            
        </div>
    </div>
    <div class="modal-action">
        <button type="button" class="btn" onclick="invoice_modal.close()">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>