  <!-- your_app/partials/invoice_form_partial.html -->
    <form hx-post="{% url 'invoice:invoice_edit' invoice.id %}"
          hx-target="#inner_invoice_modal"
          hx-swap="innerHTML">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="modal-action">
          <button type="button" class="btn" onclick="invoice_modal.close()">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
